* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background: #161720 url("/assets/img/bg.png") repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #a2a2a6;
  text-align: center; }

.container {
  width: 960px;
  margin: 20px auto; }

.nav {
  margin: 140px 0;
  list-style: none; }
  .nav li {
    display: inline;
    padding: 0 45px;
    font-size: 16px;
    font-weight: bold; }
    .nav li a {
      text-decoration: none;
      color: #a2a2a6; }

.box {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 150px; }
  .box h2 {
    padding-top: 30px;
    margin: 0 auto 30px auto;
    padding-bottom: 14px;
    border-bottom: 1px solid #2e2f37;
    width: 280px;
    font-size: 14px;
    color: #2e2f37;
    text-align: center; }
  .box .content {
    text-align: center;
    text-align: justify;
    line-height: 180%; }
    .box .content a {
      color: #b41808; }

.date_qrcode {
  margin-bottom: 150px; }
  .date_qrcode .content {
    text-align: center; }

header {
  margin-bottom: 50px;
  text-decoration: center;
  color: #FFF;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 60px;
  position: relative;
  padding-bottom: 20px; }
  header sub {
    letter-spacing: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 260px;
    font-size: 18px;
    color: #b41808; }

#speakers h2 {
  margin-top: 80px;
  color: #b41808; }

.speaker {
  width: 407px;
  margin: 35px auto;
  height: 120px;
  position: relative; }
  .speaker .avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 17px;
    top: 10px; }
    .speaker .avatar img {
      width: 84px;
      height: 84px; }
  .speaker .desc {
    width: 249px;
    height: 120px;
    padding-left: 145px;
    padding-right: 13px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/assets/img/speaker-line.png") left top no-repeat; }
    .speaker .desc h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      text-align: center;
      color: #FFF; }
    .speaker .desc .subject,
    .speaker .desc .summary {
      font-size: 13px;
      font-weight: normal; }
    .speaker .desc .summary {
      display: none; }
    .speaker .desc a {
      color: #FFF; }
  .speaker:hover .desc {
    background-position: left -240px; }
    .speaker:hover .desc .subject {
      display: none; }
    .speaker:hover .desc .summary {
      display: block; }

.speaker-odd .desc {
  background: url("/assets/img/speaker-line.png") right -120px no-repeat;
  padding-right: 140px;
  padding-left: 18px; }
.speaker-odd:hover .desc {
  background-position: right -360px; }
.speaker-odd .avatar {
  left: auto;
  right: 17px; }

#venue {
  margin-bottom: 100px; }
  #venue .box {
    width: 900px; }
    #venue .box .content {
      text-align: center; }
  #venue address {
    font-size: 26px;
    margin-bottom: 20px;
    font-style: normal;
    color: #FFF; }
    #venue address b {
      color: #b41808; }
  #venue ul {
    list-style: none; }
    #venue ul li {
      line-height: 200%; }
  #venue h5 {
    margin-top: 80px;
    margin-bottom: 20px; }
  #venue .map {
    text-align: center; }
    #venue .map a {
      padding-left: 14px;
      color: #FFF;
      text-decoration: none;
      line-height: 48px; }
      #venue .map a img {
        margin-bottom: -28px; }

#sponsor {
  text-align: center;
  width: 900px; }
  #sponsor h4 {
    font-size: 18px;
    margin-bottom: 10px; }
  #sponsor ul {
    list-style: none; }
    #sponsor ul li {
      display: inline;
      height: 80px;
      overflow: hidden; }
  #sponsor .join-sponsor,
  #sponsor .sponsor-list {
    text-align: center;
    margin-bottom: 40px; }

#contact .content {
  margin-bottom: 40px;
  text-align: center; }
  #contact .content ul {
    text-align: left;
    margin: 20px 0;
    list-style-position: inside; }
    #contact .content ul li {
      padding-left: 40px; }
