body {
  background-color: #f4f4f4;
  padding-top: 40px; }
  body ol, body ul {
    list-style: none; }

header {
  text-align: center; }
  header .logo {
    height: 375px;
    width: auto; }
  header h1 {
    font-size: 42px;
    line-height: 1.2; }

.container h2 {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 6px solid #aeaeae;
  color: #333333;
  line-height: 30px;
  margin-top: 24px; }
  .container h2 span {
    width: 120px;
    border-bottom: 6px solid #d21a1a;
    display: inline-block;
    padding-left: 30px;
    margin-bottom: -6px;
    position: relative; }
.container .content {
  padding: 10px 30px;
  line-height: 1.5;
  font-size: 18px; }
  .container .content .speaker {
    margin-bottom: 30px; }
    .container .content .speaker .photo img {
      width: 200px;
      float: left; }
    .container .content .speaker .desc {
      padding-left: 230px; }
  .container .content .sponsor-list {
    margin-bottom: 50px; }
    .container .content .sponsor-list li {
      display: inline;
      margin-right: 20px; }
      .container .content .sponsor-list li img {
        height: 64px; }
    .container .content .sponsor-list.platinum img {
      height: 128px; }
    .container .content .sponsor-list.gold img {
      height: 96px; }

.footer {
  background: #edece3;
  height: 75px;
  padding-top: 25px;
  border-top: 2px solid #d8d7ce;
  text-align: center;
  color: #7a7a7a; }
