* { margin:0; padding:0; }

@mixin clearfix {
  zoom:1;
  &:before, &:after {
      content: "\0020"; 
      display: block; 
      height: 0; 
      overflow: hidden; 
  }
  &:after {
      clear: both;
  }
}


body {
  margin:0; padding:0;
  background: #161720 url('/assets/img/bg.png') repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #a2a2a6;
  text-align: center;
}

.container {
  width:960px;
  margin:20px auto;
}

.nav {
  margin:140px 0;
  list-style:none;
  li { 
    display:inline;
    padding:0 45px;
    font-size:16px;
    font-weight:bold;
    a {
      display:inline-block;
      text-decoration: none;
      color:#a2a2a6;
    }
  }
}


.box {
  margin:0 auto;
  margin-bottom:150px;
  h2 { 
    padding-top:30px;
    margin:0 auto 30px auto;
    padding-bottom:14px;
    border-bottom:1px solid #2e2f37;
    width:280px; 
    font-size:14px;
    color:#2e2f37;
    text-align:center;
  }
  .content {
    text-align:center;
    text-align: justify;
    line-height:180%;
    a { color:#b41808; }
  }
}

    
.date_qrcode { 
  .content { text-align:center; }
}

header {
  margin-bottom:50px;
  text-decoration: center;
  color:#FFF;
  font-weight:normal;
  letter-spacing: 2px;
  font-size: 60px;
  position:relative;
  padding-bottom:20px;
  sub { 
    letter-spacing: 2px;
    display:block;
    position:absolute;
    bottom:0;
    left: 260px;
    font-size:18px;
    color:#b41808;
  }
}


#speakers {
  h2 { font-size:30px; margin-top: 80px; color:#b41808;  }
}

.speaker {
  width: 407px;
  margin:35px auto;
  padding-right:135px;
  height: 130px;
  position:relative;
  transition: width 0.5s;
  -moz-transition: width 0.5s; /* Firefox 4 */
  -webkit-transition: width 0.5s; /* Safari and Chrome */
  -o-transition: width  0.5s; /* Opera */
  .avatar {
    width:100px; height:100px;
    position:absolute; left:17px; top:10px;
    img { width: 84px; height:84px; }
  }
  a.twitter {
    display:block; position:absolute; width:25px;height:25px; 
    background:url('/assets/img/twitter.png');
    right:0px; top:39px; 
  }
  .desc {
    width: 249px;
    height: 200px;
    padding-left:145px; padding-right:25px;
    overflow:hidden;
    position:absolute; top:0; left:0;
    background: url('/assets/img/speaker-line.png') left top no-repeat;
    transition: width 0.5s;
    -moz-transition: width  0.5s; /* Firefox 4 */
    -webkit-transition: width  0.5s; /* Safari and Chrome */
    -o-transition: width 0.5s; /* Opera */
    h3 { 
      margin:0; margin-top:20px; margin-bottom:20px; font-size:18px; text-align:center; color:#FFF; 
      transition: align 0.5s;
      -moz-transition: align  0.5s; /* Firefox 4 */
      -webkit-transition: align  0.5s; /* Safari and Chrome */
      -o-transition: align 0.5s; /* Opera */
    }
    .subject,
    .summary { 
      font-size:13px; font-weight:normal; 
    }
    .summary { display:none; }
    a { color:#FFF; }
  }
  &:hover {
    width:650px;
    .desc {
      width:492px;
      background-position: left -500px;
      h3 { }
      .subject { display:none; }
      .summary { 
        display:block;  
      }
    }
  }
}
.speaker-odd {
  padding-right:0px;
  padding-left:135px;
  a.twitter {
    left:0; right:auto;
  }
  .desc {
    margin-left:135px;
    background: url('/assets/img/speaker-line.png') right -250px no-repeat;
    padding-right:140px; padding-left:18px;
  } 
  &:hover {
    .desc {
      background-position: right -750px;
      h3 { }
      .summary { } 
    }
  }
  .avatar {
    left: auto;
    right: 17px;
  }
}

#venue {
  margin-bottom:100px;
  .box {
    .content {
      text-align:center;
    }
  }
  address { 
    font-size:26px; margin-bottom:20px;
    font-style: normal; color:#FFF;
    b { color:#b41808; }
  }
  ul {
    list-style: none;
    li { line-height:200%; }
  }
  h5 { margin-top:80px; margin-bottom:20px; }
  .map { 
    text-align: center; 
    a {  
      padding-left:14px;
      color:#FFF; text-decoration: none; 
      line-height:48px;
      img { margin-bottom:-28px; }
    }
  }
}

#sponsor {
  text-align: center;
  h4 { font-size:18px; margin-bottom:10px; }
  ul { 
    list-style: none; 
    li { 
      display:inline; height:80px; overflow:hidden; 
      a { 
        padding:20px; 
        display:inline-block;
        text-decoration:none;
        @include clearfix; 
      }
    }
  }
  .join-sponsor,
  .sponsor-list {
    text-align:center;
    margin-bottom:40px;
  }
}

#contact {
  .content { 
    margin-bottom:40px;
    text-align: center;
    ul {
      text-align: left;
      margin:20px 0;
      list-style-position: inside;
      li { padding-left:40px; }
    }
  }
}

/* 响应式 */
@media (min-width: 0) and (max-width: 479px){
  body { font-size: 12px; }
  .container { width: 300px; }
  .logo { 
    img { width:100px; }
  }
  .nav {
    margin:20px auto;
    li { padding:5px 5px; font-size:13px; }
  }
  header { 
    font-size:20px; margin-bottom:0px;
    sub {
      font-size:12px;
      left:100px;
    }
  }
  .box { margin-bottom:20px; }
  #venue {
    margin-bottom:10px;
    address {
      font-size:14px; line-height:160%;
    }
    .venue_pic {
      width: 300px;
    }
    .map {
      img.icon { width:24px; margin-bottom:-7px; }
    }
  }
  #speakers {
    h2 { font-size:14px; margin-top:10px; margin-bottom:20px; }
  }
  .speaker,
  .speaker-odd {
    padding:0px;
    margin:0 auto;
    width:300px;
    height: 240px;
    text-align:left;
    .avatar {
      top:8px;
      left:0px;
      width:20px; height:20px; 
      img {      
        width:20px; height:20px; 
      }
    }
    a.twitter { left:0; top:40px; }
    .desc {
      width: 260px;
      height: 240px;
      padding:0; margin:0;
      h3 { margin:4px 0; text-align:left; } 
      padding-left:35px; 
      background:none;
      .subject { color:green; }
      .subject,
      .summary { display:block; margin-bottom:10px; }
    }
    &:hover {
      width:300px;
      .desc {
        width:260px;
        .subject,
        .summary { display:block; margin-bottom:10px; }
      }
    }
  }
  #sponsor { 
    img { width: 80px; }
    .platinum {
      img { width: 120px; }
    }
    .gold {
      img { width: 100px; }
    }
    ul{
      li {
        a { padding:5px; }
      }
    }
  }
  #contact {
    img.ruby-china { width:32px; }
  }
}
@media (min-width: 480px) and (max-width: 767px){
  body { font-size: 14px; }
  .container { width: 470px; }
  .logo { 
    img { width:200px; }
  }
  .nav {
    margin:20px auto;
    li { padding:0 10px; font-size:13px; }
  }
  header { 
    font-size:30px; 
    sub {
      font-size:12px;
      left:124px;
    }
  }
  .box { margin-bottom:30px; }
  #about {
    width:480px;
  }
  #venue {
    margin-bottom:40px;
    address {
      font-size:16px; line-height:200%;
    }
    .venue_pic {
      width: 450px;
    }
  }
  #sponsor { 
    img { width: 100px; }
    .platinum {
      img { width: 180px; }
    }
    .gold {
      img { width: 150px; }
    }
    ul{
      li {
        a { padding:5px; }
      }
    }
  }
  .speaker,
  .speaker-odd {
    margin:0 auto;
    width:450px;
    height: 190px;
    text-align:left;
    .avatar {
      top:8px;
      left:0px;
      width:50px; height:50px; 
      img {      
        width:50px; height:50px; 
      }
    }
    a.twitter { left:13px; right:auto; top:70px; }
    .desc {
      width: 380px;
      padding:0; margin:0;
      h3 { margin:4px 0; text-align:left; } 
      padding-left:65px; 
      background:none;
      .subject { color:green; }
      .subject,
      .summary { display:block; margin-bottom:10px; }
    }
    &:hover {
      width:450px;
      .desc {
        width:380px;
        .subject,
        .summary { display:block; margin-bottom:10px; }
      }
    }
  }
  #contact {
    img.ruby-china { width:48px; }
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .container { width: 750px; }
  header {
    font-size:40px;
    sub {
      font-size:13px;
      left: 211px;
    }
  }
  .nav {
    margin:50px auto;
    li {
      padding:0 20px;
    }
  }
  .box { margin-bottom:40px; }
  #about {
    width:600px;
  }
  #venue {
    .venue_pic {
      width: 700px;
    }
  }
  #contact {
    img.ruby-china { width:64px; }
  }
}
@media (min-width: 980px) and (max-width: 1279px) {
  .container { width: 960px; }
  #about {
    width:600px;
    .content {
      font-size: 16px;
    }
  }
  #contact {
    img.ruby-china { width:128px; }
  }
}
@media (min-width: 1280px) and (max-width: 2000px) {
  .container { width: 1240px; }
  header {
    font-size:90px; 
  }
  .nav { 
    li { font-size:20px; }
  }
  .box {
    h2 { font-size: 20px; }
  }
  #about {
    width:800px;
    .content {
      font-size: 18px;
    }
  }

  #venue {
    address {
      font-size:40px; line-height:200%;
    }
  }
  #contact {
    img.ruby-china { width:128px; }
  }
}
